---
import path from 'path'
import { Project, type Symbol as MorphSymbol, type JSDocableNode, ScriptTarget } from 'ts-morph'
import { marked } from 'marked';

const __dirname = path.dirname(new URL(import.meta.url).pathname)
const componentPath = path.resolve(
  __dirname,
  '../../../dist/svelte-5',
  Astro.props.component,
)

const project = new Project({
  tsConfigFilePath: '../tsconfig.json',
  compilerOptions: {
    target: ScriptTarget.ESNext,
  },
})

const sourceFile = project.addSourceFileAtPath(
  componentPath.replace('.d.ts', '') + '.d.ts'
)

function getPropInfo(symbol: MorphSymbol): {
    name: string
    type: string[]
    description: string
    isSnippet?: boolean
    isEvent?: boolean
  } {
  let decl = symbol.getValueDeclaration()
  if (!decl) {
    const [firstDecl] = symbol.getDeclarations()
    if (firstDecl) decl = firstDecl
  }

  if (!decl) {
    const aliasedSymbol = symbol.getAliasedSymbol()
    if (aliasedSymbol) {      
      let aliasDecl = aliasedSymbol.getValueDeclaration()
      if (!aliasDecl) {
        const [firstAliasDecl] = aliasedSymbol.getDeclarations()        
        if (firstAliasDecl) aliasDecl = firstAliasDecl
      }
      if (aliasDecl) decl = aliasDecl
    }
  }

  if (!decl) {
    return { name: symbol.getName(), type: ['unknown'], description: '' }
  }

  
  const name = symbol.getName()
  const jsDocs = (decl as any as JSDocableNode).getJsDocs?.()

    
  if (name.includes('scale')) {
    console.log(decl.getType().getUnionTypes())
  }

  let unions = decl
      .getType()
      .getUnionTypes()
      .map(t => t.getText())

  // remove true | false unions with boolean
  if (unions.includes('true') && unions.includes('false')) {
    unions.push('boolean')
    unions = unions.filter(t => t !== 'true' && t !== 'false')
  }

  if (unions.length ===0) {
    unions = [decl.getType().getText()]
  }

  let type = unions
  .map(t => t.replace(/import\(.*?\/node_modules\/pixi\.js.*?"\)/g, 'PIXI'))
  .map(t => t.replace(/import\(.*?\/node_modules\/@pixi.*?"\)/g, 'PIXI'))      
  .map(t => t.replace(/import\("svelte"\)\.Snippet/g, 'Snippet'))
  // replace points with PointLike, unsure why they dont get picked up
  .flatMap(t => {
    if (t === 'PIXI.Point' || t === 'PIXI.ObservablePoint') {
      return ['number', '[number, number]', '{ x: number; y: number }', 'PIXI.Point']
    }

    return t
  })
  .filter(t => t !== 'undefined')



  const isEvent = name.startsWith('on')
  const isSnippet = name === 'children' || type.some(t => t.startsWith('Snippet'))

  return {
    isSnippet,
    isEvent,
    type,
    name,
    description: jsDocs?.map((doc) => doc.getCommentText() || '').join('\n') || '',
  }
}


const componentClass = sourceFile.getClass('__sveltets_Render')
if (!componentClass) {
  throw new Error('Could not find class __sveltets_Render')
}

const componentProps = componentClass.getInstanceMethod('props')
if (!componentProps) {
  throw new Error('No instance method named "props" found')
}

const returnType = componentProps.getReturnType()

const properties = returnType.getProperties()

const props: Array<ReturnType<typeof getPropInfo>> = []
const events: Array<ReturnType<typeof getPropInfo>> = []
const snippets: Array<ReturnType<typeof getPropInfo>> = []

for (const propSymbol of properties) {    
  const info = getPropInfo(propSymbol)
  if (info.isSnippet) {
    snippets.push(info)
  } else {
    props.push(info)
  }
}

props.sort((a, b) => a.name.localeCompare(b.name))
events.sort((a, b) => a.name.localeCompare(b.name))
snippets.sort((a, b) => a.name.localeCompare(b.name))

---

<style>
  th {
    @apply text-left;
  }

  td {
    @apply !text-sm !py-3;
  }
  td code {
    @apply !mt-0;
  }

  table div {
    @apply !mt-0;
  }
</style>



{
  props.length > 0 && (
    <>
      <h3 id="props">Props</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {props.map((prop) => (
            <tr>
              <td class="align-top">
                <div class="inline-flex flex-col gap-2 pt-1">
                  <span>{prop.name}</span>
                </div>
              </td>
              <td>
                <div class="flex justify-between gap-1 pb-2">
                  <div class="inline-flex flex-wrap gap-1">
                    {prop.type &&
                      prop.type
                        .map((type) => (
                          <code
                            title="Prop type"
                            class="whitespace-nowrap rounded"
                          >
                            {type}
                          </code>
                        ))}
                  </div>
                </div>
                <div
                  class="align-top pt-2"
                  set:html={
                    'description' in prop
                      ? marked(prop.description)
                      : ''
                  }
                ></div>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
      {/* {rest_props && (
        <p>
          Additional props are passed on to{' '}
          <a href={`/api/components/${dashify(rest_props.name)}`}>
            {rest_props.name}
          </a>
        </p>
      )} */}
    </>
  )
}


{
  snippets.length > 0 && (
    <>
      <h3 id="snippets">Snippets</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {snippets.map((slot) => (
            <tr>
              <td>{slot.name}</td>
              <td>
                {slot.type && <code>{slot.type}</code>}
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </>
  )
}
